/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bluetea Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bluetea Regular"), url("/fonts/Bluetea-2ORDv.woff") format("woff");
}

@layer components {
  .boton-web {
    @apply font-sans w-1/4 h-28 text-3xl bg-web-boton rounded-full;
  }
}

#arrow-button {
  filter: invert(100%) sepia(15%) saturate(2087%) hue-rotate(167deg) brightness(128%) contrast(110%);
}
