/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bluetea Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bluetea Regular"), url("/fonts/Bluetea-2ORDv.woff") format("woff");
}
